
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/lib/twitter-bootstrap/css/bootstrap.css" rel="stylesheet" />
    <link href="~/css/Site.css" rel="stylesheet" />
    <title>Index</title>
</head>
<body class="container">
    <div class="alert alert-primary" role="alert"> A simple primary alert—check it out! </div>


    <h1>Welcome to the book store application</h1>
    <input type="button" name="click me" value="click me" class="btn btn-danger" />
    @*<p>
                @datetime.now<( /p>
                <h1>sum = @(3+5)</h1>

                @{
                    int a = 10;
                    int b = 20;
                    int res = a + b;
                }
        <p>the result of @a  + @b  = @res</p>
        <h2>my email is darko@yahoo.com</h2>*@

    @*@{
            int a = 10;

        }


        @if (a > 15)
        {
            <h1>Hello from if block</h1>
        }
        else
        {
            <h1>hello from else block</h1>
        }*@
<script src="~/lib/jquery/jquery.js"></script>
</body>     
</html>

<script>
    $(document).ready(function () {
        alert("Page loaded");
    });
</script>